#pagina{
height: 980px;
width: 700px;
padding: 50px;


    
}

#conteudo{




    
}

#banner{
    

}


body{
background-image: url(/fundo.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: 1000px;
background-color: black;



}
.produtos{
    color: red;

}

.valor{
    color:red;
}

h1 {
color:red;
font-size: 45px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h2{
    color:rgb(248, 103, 6)
    
}

h3{
    color: red;
    font-size: 22px;
    
}

table{
font-size: 20px;


  

}

.alinhar{
text-align: center;
    
}    



    

    
